body{
    margin: 0;
}

h2{
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 90%;
}

p{
    margin-top: 0;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 90%;
    color: lightgray;

}

img{
    width: 300px;
    border-radius: 20px;
}

.container{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 10px;    
}

.attribution{
    margin-top: 20px;
}